@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";

// Fontes

@font-face {
	font-family: "Lato Regular";
	src: url("../fontes/lato/Lato-Regular.ttf") format("truetype")
}

@font-face {
	font-family: "Lato Light";
	src: url("../fontes/lato/Lato-Light.ttf") format("truetype")
}

@font-face {
	font-family: "Merienda Regular";
	src: url("../fontes/merienda/Merienda-Regular.ttf") format("truetype")
}

@font-face {
	font-family: "Merienda Bold";
	src: url("../fontes/merienda/Merienda-Bold.ttf") format("truetype")
}

// Cores
$cor-azul-menu-bg: #1b546f;
$cor-amarelo-bg: #faefde;
$cor-azul-menu-links: #2b86b2;
$cor-cinza-logo-concurso: #797878;
$cor-cinza: #ccc;
$cor-verde-destaque: #1b546f;
$cor-vermelha: #900;
$cor-branca: #fff;
$cor-preta-translucida: rgba(0, 0, 0, 0.8);

body{
    background-image:url('../img/bg_aguas_padrao.jpg');
    background-color:$cor-amarelo-bg;
    background-position: 0 50px;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1, h2, h3{
    font-family: Lato Regular, sans-serif;
}
p{
    font-family: Lato Light, sans-serif;
}

.menu-global{
    background: $cor-azul-menu-bg;
    height: 50px;
    ul{
        margin:16px 0 0 0; padding:0;
        li{
            
            float: left;
            list-style: none;
            font-family: 'Lato Light', sans-serif;
            text-transform: uppercase;
            margin: 0 12px;
            &:first-child{
                margin-left:0px;
            }
            a{
                color: $cor-azul-menu-links;
            }
        }
    }
}

.logo-inema{
    width:150px;
    height: 80px;
    margin:10px auto;
    background-image: url('../img/inema.jpg');
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.logo-concurso{
    width:420px;
    margin:100px auto 430px auto;
    border: 1px solid white;
    padding: 40px 30px;
    @include border-radius(4px);
    h1{
        text-align: center;
        margin:0;
        padding:0;
        font-size: 43px;
        font-family: Merienda Regular, sans-serif;
        color: $cor-cinza-logo-concurso;
        // text-shadow: 1px 1px 1px darken($cor-cinza-logo-concurso, 30%);
    }
    p{
        text-align: center;
        margin:15px auto;
        font-size: 1.8em;
        color: $cor-cinza-logo-concurso;
    }
}

.container--principal{
    background: $cor-branca;
    width:85%;
    padding: 40px 120px;
    position: relative;
    h2{
        text-transform: uppercase;
        font-size: 1.1em;
        color: $cor-verde-destaque;
        text-align: center;
        margin-top:70px;
        margin:70px auto 30px auto;
    }

    h3{
        font-family: Lato light, sans-serif;
        font-size: 1em;
        margin:20px auto;
      

    }
    .info-col{
        z-index: 500;
        position: absolute;
        top:-40px;
        right: 100px;
        height: 300px;        
        .info-destaque{
            background: $cor-verde-destaque;
            padding:35px;
            width:235px;
            h2, h3{
                font-size: 1em;
                color: $cor-azul-menu-links;
                text-align: left;
                text-transform: uppercase;
                margin:20px auto 70px auto;
            }
            h3{
                margin:auto;
            }
            p{
                font-family: Lato Regular, sans-serif;
                margin-top:10px;
                text-transform: uppercase;
                color:$cor-branca;
                font-size: 0.88em;
            }
            
        }

        button{
            margin:40px 22px;
            float: none;
            background: $cor-verde-destaque;
            color:$cor-branca;
            border-radius: 0px;
            padding: 10px 30px;
            font-size: 0.88em;
            font-family: Lato Regular, sans-serif;
            text-transform: uppercase;
        }

    }

    ul{
        margin-bottom:30px;
        li{
            font-family: Lato light, sans-serif;
            margin-bottom: 10px;
        }
    }

}

.img-view-overflow{
    width:100%;
    height: 800px;
    z-index: 600;
    position: fixed;
    top: 0;
    left: 0;
    background: $cor-preta-translucida;
    .img-view{
        width:70%;
        position: relative;
        margin:100px auto;
        background:white;
        padding:15px;
        border-radius:4px;
        .foto-info {
            position: absolute;
            font-family: Lato Regular, sans-serif;
            padding: 10px;
            background: $cor-preta-translucida;
            color: white;
            width: 96.5%;
          }
          .btn-fechar{
            position: absolute;
            top: -16px;
            right: -14px;
            background:$cor-verde-destaque;
            color: $cor-branca;
            border-radius: 21px;
            width: auto;
            padding: 11px 16px;
            z-index: 500;
            cursor:pointer;
            &:hover{
                background: $cor-vermelha;
            }
          }                        
    }    
}

footer{
    margin-top:70px;
    border-top: 10px solid $cor-verde-destaque;
    background: $cor-branca;
}

//Helpers
.col-md-12--concurso{
    padding-right:490px;
    padding-bottom: 40px;
    border-bottom:1px solid $cor-cinza;
}

.justify-text{
    text-align: justify;
}

.form-row{
    .form-group{
        width:48%;
        float: left;
        margin-left:2%;
    }
}

.termos{
    border: 1px solid $cor-cinza;
    padding:15px;
    height:100px;
    overflow-y: auto;
}
