@font-face {
  font-family: "Lato Regular"; 
  src: url("../fontes/lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fontes/lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Merienda Regular";
  src: url("../fontes/merienda/Merienda-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Merienda Bold";
  src: url("../fontes/merienda/Merienda-Bold.ttf") format("truetype");
}
body {
  background-image: url("../img/bg_aguas_padrao.jpg");
  background-color: #faefde;
  background-position: 0 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-family: Lato Regular, sans-serif;
}

p {
  font-family: Lato Light, sans-serif;
}

.menu-global {
  background: #1b546f;
  height: 50px;
}
.menu-global ul {
  margin: 16px 0 0 0;
  padding: 0;
}
.menu-global ul li {
  float: left;
  list-style: none;
  font-family: 'Lato Light', sans-serif;
  text-transform: uppercase;
  margin: 0 12px;
}
.menu-global ul li:first-child {
  margin-left: 0px;
}
.menu-global ul li a {
  color: #2b86b2;
}

.logo-inema {
  width: 150px;
  height: 80px;
  margin: 10px auto;
  background-image: url("../img/inema.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.logo-concurso {
  width: 420px;
  margin: 100px auto 430px auto;
  border: 1px solid white;
  padding: 40px 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.logo-concurso h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 43px;
  font-family: Merienda Regular, sans-serif;
  color: #797878;
}
.logo-concurso p {
  text-align: center;
  margin: 15px auto;
  font-size: 1.8em;
  color: #797878;
}

.container--principal {
  background: #fff;
  width: 85%;
  padding: 40px 120px;
  position: relative;
}
.container--principal h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  color: #1b546f;
  text-align: center;
  margin-top: 70px;
  margin: 70px auto 30px auto;
}
.container--principal h3 {
  font-family: Lato light, sans-serif;
  font-size: 1em;
  margin: 20px auto;
}
.container--principal .info-col {
  z-index: 500;
  position: absolute;
  top: -40px;
  right: 100px;
  height: 300px;
}
.container--principal .info-col .info-destaque {
  background: #1b546f;
  padding: 35px;
  width: 235px;
}
.container--principal .info-col .info-destaque h2, .container--principal .info-col .info-destaque h3 {
  font-size: 1em;
  color: #2b86b2;
  text-align: left;
  text-transform: uppercase;
  margin: 20px auto 70px auto;
}
.container--principal .info-col .info-destaque h3 {
  margin: auto;
}
.container--principal .info-col .info-destaque p {
  font-family: Lato Regular, sans-serif;
  margin-top: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.88em;
}
.container--principal .info-col button {
  margin: 40px 22px;
  float: none;
  background: #1b546f;
  color: #fff;
  border-radius: 0px;
  padding: 10px 30px;
  font-size: 0.88em;
  font-family: Lato Regular, sans-serif;
  text-transform: uppercase;
}
.container--principal ul {
  margin-bottom: 30px;
}
.container--principal ul li {
  font-family: Lato light, sans-serif;
  margin-bottom: 10px;
}

footer {
  margin-top: 70px;
  border-top: 10px solid #1b546f;
  background: #fff;
}

.col-md-12--concurso {
  padding-right: 490px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.justify-text {
  text-align: justify;
}

.form-row .form-group {
  width: 48%;
  float: left;
  margin-left: 2%;
}

.termos {
  border: 1px solid #ccc;
  padding: 15px;
  height: 100px;
  overflow-y: auto;
}
