      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
                </div>
                
                <div class="modal-body">
                        <form ng-submit="enviar"></form>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="nome">Nome do colaborador</label>
                                <input ng-model="foto.colaborador" class="form-control" placeholder="Insira o seu nome" type="text" required>
                            </div>
                            <div class="form-group">
                                <label for="nome">Nome da foto</label>
                                <input ng-model="foto.nome" class="form-control" placeholder="Insira o nome da foto" type="text" required>
                            </div>  
                        </div>
    
                        <div class="form-row">
                            <div class="form-group">
                                <label for="nome">Local da foto</label>
                                <input ng-model="foto.local" class="form-control" placeholder="Insira o local da foto" type="text" required>            
                            </div>    
    
                            <div class="form-group">
                                <label for="nome">Data de registro</label>
                                <input ng-model="foto.data" ui-mask="99/99/9999" class="form-control" placeholder="DD/MM/YYYY" type="text" required>
                            </div> 
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputFile">Anexar foto</label>
                            <input type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" required="required">
                            
                        </div>
                        <div class="termos">
                            <p>
                                I. Confirmo autoria da fotografia, que não constitui plágio em espécia alguma
                                e não possui manipulação digital ou sobre posição.
                            </p>
                            <p>
                                II. Declaro cessão de direito de uso e publicação da fotografia "Varal das Águas";
                            </p>
                            <p>
                                III. Autorização para veiculação de imagens e nome do colaborador, nome artístico para a foto,
                                local e data de registro da foto, bem como permissão para os organizadores, a critério próprio, sem limite
                                de tempo e sem à incidencia de quaisquer ônus utilizarem ou divulgarem as imagens inscritas  ...
                            </p>
                        </div>                
                        <div class="checkbox">
                            <label>
                                <input ng-model="termos" type="checkbox"> Eu li e concordo com os termos
                            </label>
                        </div>
                </div>
               
                <div class="modal-footer">
                  <button ng-disabled=" !termos || !foto.nome || !foto.colaborador || !foto.local || !foto.data || !picFile"  ng-click="enviar(foto, picFile)"  class="btn btn-primary">Enviar</button>
                </div>
                </form>
              </div>
            </div>
          </div>   