<div class="img-view-overflow exibe-{{imgStatus}}">
    <div ng-hide="visualiza" class="listagem-imagens">
        <div ng-click="fecharModal()" class="btn-fechar">X</div>
        <ul>
            <li ng-repeat="item in fotos | limitTo: 6 | orderBy: item.id_foto" ng-click="visualizarImagem($index)">
                <div class="img-item-info">
                    <h3>{{item.foto_nome}}</h3>
                    <p> {{item.foto_local}}</p>
                    <p>Por {{item.colaborador}}</p>
                </div>                    
                <img ng-src="../php/api/{{item.url}}" alt="">
            </li>
        </ul>
    </div>
    <div ng-show="visualiza" class="img-view">
        <div ng-click="fecharModal()" class="btn-fechar">X</div>
        <div class="foto-info">{{fotoExibida.nome}} por {{fotoExibida.colaborador}} <div class="visualizar-link" ng-click="visualizarListagem()">Visualizar imagens cadastradas</div> </div>
        <div class="img-cadastro">
            <img width="100%" height="auto" ng-src="{{fotoExibida.url}}" alt="" />
        </div>        
    </div>
</div>